In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [81]:
df = pd.read_csv(r"E:\Dheeraj\Finlatics Python\Project\global_youtube_statistics.csv", encoding = "latin1")

In [82]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [83]:
print(df.head())

   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series  245000000.0  2.280000e+11
1     2              YouTube Movies  170000000.0  0.000000e+00
2     3                     MrBeast  166000000.0  2.836884e+10
3     4  Cocomelon - Nursery Rhymes  162000000.0  1.640000e+11
4     5                   SET India  159000000.0  1.480000e+11

           category                       Title  uploads Country of origin  \
0             Music                    T-Series    20082             India
1  Film & Animation               youtubemovies        1     United States
2     Entertainment                     MrBeast      741     United States
3         Education  Cocomelon - Nursery Rhymes      966     United States
4             Shows                   SET India   116536             India

         Country Abbreviation   channel_type  video_views_rank  country_rank  \
0          india           IN          Music               1.0           1.0
1  United States           US          Games         4055159.0        7670.0
2  United States           US  Entertainment              48.0           1.0
3  United States           US      Education               2.0           2.0
4          India           IN  Entertainment               3.0           2.0

   channel_type_rank  video_views_for_the_last_30_days  \
0                1.0                      2.258000e+09
1             7423.0                      1.200000e+01
2                1.0                      1.348000e+09
3                1.0                      1.975000e+09
4                2.0                      1.824000e+09

   lowest_monthly_earnings  highest_monthly_earnings  lowest_yearly_earnings  \
0                 564600.0                9000000.00              6800000.00
1                      0.0                      0.05                    0.04
2                 337000.0                5400000.00              4000000.00
3                 493800.0                7900000.00              5900000.00
4                 455900.0                7300000.00              5500000.00

   highest_yearly_earnings  subscribers_for_last_30_days  created_year  \
0             1.084000e+08                     2000000.0        2006.0
1             5.800000e-01                           NaN        2006.0
2             6.470000e+07                     8000000.0        2012.0
3             9.480000e+07                     1000000.0        2006.0
4             8.750000e+07                     1000000.0        2006.0

  created_month  created_date  Gross tertiary education enrollment (%)  \
0           Mar          13.0                                     28.1
1           NaN           5.0                                     88.2
2           Feb          20.0                                     88.2
3           Sep           1.0                                     88.2
4           Sep          20.0                                     28.1

     Population  Unemployment rate  Urban_population   Latitude  Longitude
0  1.366418e+09               5.36       471031528.0  20.593684  78.962880
1  3.282395e+08              14.70       270663028.0  37.090240 -95.712891
2  3.282395e+08              14.70       270663028.0  37.090240 -95.712891
3  3.282395e+08              14.70       270663028.0  37.090240 -95.712891
4  1.366418e+09               5.36       471031528.0  20.593684  78.962880

In [84]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     1006 non-null   int64
 1   Youtuber                                 1006 non-null   object
 2   subscribers                              1003 non-null   float64
 3   video views                              1006 non-null   float64
 4   category                                 951 non-null    object
 5   Title                                    1006 non-null   object
 6   uploads                                  1006 non-null   int64
 7   Country of origin                        881 non-null    object
 8   Country                                  881 non-null    object
 9   Abbreviation                             881 non-null    object
 10  channel_type                             974 non-null    object
 11  video_views_rank                         1005 non-null   float64
 12  country_rank                             887 non-null    float64
 13  channel_type_rank                        971 non-null    float64
 14  video_views_for_the_last_30_days         949 non-null    float64
 15  lowest_monthly_earnings                  1006 non-null   float64
 16  highest_monthly_earnings                 1006 non-null   float64
 17  lowest_yearly_earnings                   1006 non-null   float64
 18  highest_yearly_earnings                  1006 non-null   float64
 19  subscribers_for_last_30_days             666 non-null    float64
 20  created_year                             1001 non-null   float64
 21  created_month                            994 non-null    object
 22  created_date                             1001 non-null   float64
 23  Gross tertiary education enrollment (%)  880 non-null    float64
 24  Population                               880 non-null    float64
 25  Unemployment rate                        880 non-null    float64
 26  Urban_population                         880 non-null    float64
 27  Latitude                                 880 non-null    float64
 28  Longitude                                880 non-null    float64
dtypes: float64(19), int64(2), object(8)
memory usage: 228.1+ KB
None

In [85]:
print(df.shape)
print(df.columns)

(1006, 29)
Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country of origin', 'Country', 'Abbreviation',
       'channel_type', 'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [86]:
print(df.isnull().sum())

rank                                         0
Youtuber                                     0
subscribers                                  3
video views                                  0
category                                    55
Title                                        0
uploads                                      0
Country of origin                          125
Country                                    125
Abbreviation                               125
channel_type                                32
video_views_rank                             1
country_rank                               119
channel_type_rank                           35
video_views_for_the_last_30_days            57
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               340
created_year                                 5
created_month                               12
created_date                                 5
Gross tertiary education enrollment (%)    126
Population                                 126
Unemployment rate                          126
Urban_population                           126
Latitude                                   126
Longitude                                  126
dtype: int64

In [87]:
df.dropna(subset = ["subscribers"], inplace = True)
df["category"] = df["category"].fillna(df["category"].mode()[0])
df["Country of origin"] = df["Country of origin"].fillna(df["Country of origin"].mode()[0])
df["Country"] = df["Country"].fillna(df["Country"].mode()[0])
df["Abbreviation"] = df["Abbreviation"].fillna(df["Abbreviation"].mode()[0])
df["channel_type"] = df["channel_type"].fillna(df["channel_type"].mode()[0])
df.dropna(subset = ["video_views_rank"], inplace = True)
df["country_rank"] = df["country_rank"].fillna(df["country_rank"].median())
df["channel_type_rank"] = df["channel_type_rank"].fillna(df["channel_type_rank"].median())
df["video_views_for_the_last_30_days"] = df["video_views_for_the_last_30_days"].fillna(df["video_views_for_the_last_30_days"].median())
df["subscribers_for_last_30_days"] = df["subscribers_for_last_30_days"].fillna(df["subscribers_for_last_30_days"].mean())
df.dropna(subset = ["created_year"], inplace = True)
df["created_month"] = df["created_month"].fillna(df["created_month"].mode()[0])
df.dropna(subset = ["created_date"], inplace = True)
df["Gross tertiary education enrollment (%)"] = df["Gross tertiary education enrollment (%)"].fillna(df["Gross tertiary education enrollment (%)"].mean())
df["Population"] = df["Population"].fillna(df["Population"].median())
df["Unemployment rate"] = df["Unemployment rate"].fillna(df["Unemployment rate"].mean())
df["Urban_population"] = df["Urban_population"].fillna(df["Urban_population"].median())
df["Latitude"] = df["Latitude"].fillna(df["Latitude"].median())
df["Longitude"] = df["Longitude"].fillna(df["Longitude"].median())
print(df.isnull().sum())

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
Title                                      0
uploads                                    0
Country of origin                          0
Country                                    0
Abbreviation                               0
channel_type                               0
video_views_rank                           0
country_rank                               0
channel_type_rank                          0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
created_year                               0
created_month                              0
created_date                               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
Latitude                                   0
Longitude                                  0
dtype: int64

In [94]:
df.rename(columns = {"rank" : "Rank"}, inplace = True)
df.rename(columns = {"subscribers" : "Subscribers"}, inplace = True)
df.rename(columns = {"video views" : "Video Views"}, inplace = True)
df.rename(columns = {"category" : "Category"}, inplace = True)
df.rename(columns = {"uploads" : "Uploads"}, inplace = True)
print(df.columns)

Index(['Rank', 'Youtuber', 'Subscribers', 'Video Views', 'Category', 'Title',
       'Uploads', 'Country of origin', 'Country', 'Abbreviation',
       'channel_type', 'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')