In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
df = pd.read_csv(r"E:\Dheeraj\Finlatics Python\Project\global_youtube_statistics.csv", encoding = "latin1")

In [75]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [76]:
print(df.head())

   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series  245000000.0  2.280000e+11
1     2              YouTube Movies  170000000.0  0.000000e+00
2     3                     MrBeast  166000000.0  2.836884e+10
3     4  Cocomelon - Nursery Rhymes  162000000.0  1.640000e+11
4     5                   SET India  159000000.0  1.480000e+11

           category                       Title  uploads Country of origin  \
0             Music                    T-Series    20082             India
1  Film & Animation               youtubemovies        1     United States
2     Entertainment                     MrBeast      741     United States
3         Education  Cocomelon - Nursery Rhymes      966     United States
4             Shows                   SET India   116536             India

         Country Abbreviation   channel_type  video_views_rank  country_rank  \
0          india           IN          Music               1.0           1.0
1  United States           US          Games         4055159.0        7670.0
2  United States           US  Entertainment              48.0           1.0
3  United States           US      Education               2.0           2.0
4          India           IN  Entertainment               3.0           2.0

   channel_type_rank  video_views_for_the_last_30_days  \
0                1.0                      2.258000e+09
1             7423.0                      1.200000e+01
2                1.0                      1.348000e+09
3                1.0                      1.975000e+09
4                2.0                      1.824000e+09

   lowest_monthly_earnings  highest_monthly_earnings  lowest_yearly_earnings  \
0                 564600.0                9000000.00              6800000.00
1                      0.0                      0.05                    0.04
2                 337000.0                5400000.00              4000000.00
3                 493800.0                7900000.00              5900000.00
4                 455900.0                7300000.00              5500000.00

   highest_yearly_earnings  subscribers_for_last_30_days  created_year  \
0             1.084000e+08                     2000000.0        2006.0
1             5.800000e-01                           NaN        2006.0
2             6.470000e+07                     8000000.0        2012.0
3             9.480000e+07                     1000000.0        2006.0
4             8.750000e+07                     1000000.0        2006.0

  created_month  created_date  Gross tertiary education enrollment (%)  \
0           Mar          13.0                                     28.1
1           NaN           5.0                                     88.2
2           Feb          20.0                                     88.2
3           Sep           1.0                                     88.2
4           Sep          20.0                                     28.1

     Population  Unemployment rate  Urban_population   Latitude  Longitude
0  1.366418e+09               5.36       471031528.0  20.593684  78.962880
1  3.282395e+08              14.70       270663028.0  37.090240 -95.712891
2  3.282395e+08              14.70       270663028.0  37.090240 -95.712891
3  3.282395e+08              14.70       270663028.0  37.090240 -95.712891
4  1.366418e+09               5.36       471031528.0  20.593684  78.962880

In [77]:
print(df.tail())

      rank              Youtuber  subscribers   video views          category  \
1001   779              The Dodo   14200000.0  9.964117e+09    Pets & Animals
1002   787      Supercar Blondie   14100000.0  5.405563e+09  Autos & Vehicles
1003   871  Just For Laughs Gags   13300000.0  7.406629e+09            Comedy
1004   872      Kabita's Kitchen   13300000.0  2.831276e+09     Howto & Style
1005   873            BanderitaX   13300000.0  4.129249e+09            Gaming

                     Title  uploads     Country of origin  \
1001     Dorukhan Gï¿½ï¿½ï        8                   NaN
1002      Supercar Blondie      855  United Arab Emirates
1003  Just For Laughs Gags     6916         United States
1004      Kabita's Kitchen     1489                 India
1005            BanderitaX     1640          Saudi Arabia

                   Country Abbreviation channel_type  video_views_rank  \
1001                   NaN          NaN          NaN         4050736.0
1002  United Arab Emirates           AE        Autos            1202.0
1003         United States           US       Comedy             764.0
1004                 India           IN        Howto            3123.0
1005          Saudi Arabia           SA        Games            1818.0

      country_rank  channel_type_rank  video_views_for_the_last_30_days  \
1001           NaN                NaN                            7208.0
1002           7.0                1.0                       353259000.0
1003         167.0               38.0                        17468000.0
1004         117.0               32.0                        43118000.0
1005           7.0               63.0                        70712000.0

      lowest_monthly_earnings  highest_monthly_earnings  \
1001                      2.0                      29.0
1002                  88300.0                 1400000.0
1003                   4400.0                   69900.0
1004                  10800.0                  172500.0
1005                  17700.0                  282800.0

      lowest_yearly_earnings  highest_yearly_earnings  \
1001                    22.0                    346.0
1002               1100000.0               17000000.0
1003                 52400.0                 838500.0
1004                129400.0                2100000.0
1005                212100.0                3400000.0

      subscribers_for_last_30_days  created_year created_month  created_date  \
1001                           5.0        2006.0           Jun          14.0
1002                      500000.0        2007.0           Sep          12.0
1003                      100000.0        2007.0           Jan          14.0
1004                           NaN        2014.0           Oct           7.0
1005                      200000.0        2013.0           Aug          20.0

      Gross tertiary education enrollment (%)    Population  \
1001                                      NaN           NaN
1002                                     36.8  9.770529e+06
1003                                     88.2  3.282395e+08
1004                                     28.1  1.366418e+09
1005                                     68.0  3.426853e+07

      Unemployment rate  Urban_population   Latitude  Longitude
1001                NaN               NaN        NaN        NaN
1002               2.35         8479744.0  23.424076  53.847818
1003              14.70       270663028.0  37.090240 -95.712891
1004               5.36       471031528.0  20.593684  78.962880
1005               5.93        28807838.0  23.885942  45.079162

In [78]:
print(df.shape)
print(df.columns)

(1006, 29)
Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country of origin', 'Country', 'Abbreviation',
       'channel_type', 'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [79]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     1006 non-null   int64
 1   Youtuber                                 1006 non-null   object
 2   subscribers                              1003 non-null   float64
 3   video views                              1006 non-null   float64
 4   category                                 951 non-null    object
 5   Title                                    1006 non-null   object
 6   uploads                                  1006 non-null   int64
 7   Country of origin                        881 non-null    object
 8   Country                                  881 non-null    object
 9   Abbreviation                             881 non-null    object
 10  channel_type                             974 non-null    object
 11  video_views_rank                         1005 non-null   float64
 12  country_rank                             887 non-null    float64
 13  channel_type_rank                        971 non-null    float64
 14  video_views_for_the_last_30_days         949 non-null    float64
 15  lowest_monthly_earnings                  1006 non-null   float64
 16  highest_monthly_earnings                 1006 non-null   float64
 17  lowest_yearly_earnings                   1006 non-null   float64
 18  highest_yearly_earnings                  1006 non-null   float64
 19  subscribers_for_last_30_days             666 non-null    float64
 20  created_year                             1001 non-null   float64
 21  created_month                            994 non-null    object
 22  created_date                             1001 non-null   float64
 23  Gross tertiary education enrollment (%)  880 non-null    float64
 24  Population                               880 non-null    float64
 25  Unemployment rate                        880 non-null    float64
 26  Urban_population                         880 non-null    float64
 27  Latitude                                 880 non-null    float64
 28  Longitude                                880 non-null    float64
dtypes: float64(19), int64(2), object(8)
memory usage: 228.1+ KB
None

In [80]:
print(df.isnull().sum())

rank                                         0
Youtuber                                     0
subscribers                                  3
video views                                  0
category                                    55
Title                                        0
uploads                                      0
Country of origin                          125
Country                                    125
Abbreviation                               125
channel_type                                32
video_views_rank                             1
country_rank                               119
channel_type_rank                           35
video_views_for_the_last_30_days            57
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               340
created_year                                 5
created_month                               12
created_date                                 5
Gross tertiary education enrollment (%)    126
Population                                 126
Unemployment rate                          126
Urban_population                           126
Latitude                                   126
Longitude                                  126
dtype: int64

In [81]:
df.dropna(subset = ["subscribers"], inplace = True)
df["category"] = df["category"].fillna(df["category"].mode()[0])
df["Country of origin"] = df["Country of origin"].fillna(df["Country of origin"].mode()[0])
df["Country"] = df["Country"].fillna(df["Country"].mode()[0])
df["Abbreviation"] = df["Abbreviation"].fillna(df["Abbreviation"].mode()[0])
df["channel_type"] = df["channel_type"].fillna(df["channel_type"].mode()[0])
df.dropna(subset = ["video_views_rank"], inplace = True)
df["country_rank"] = df["country_rank"].fillna(df["country_rank"].median())
df["channel_type_rank"] = df["channel_type_rank"].fillna(df["channel_type_rank"].median())
df["video_views_for_the_last_30_days"] = df["video_views_for_the_last_30_days"].fillna(df["video_views_for_the_last_30_days"].median())
df["subscribers_for_last_30_days"] = df["subscribers_for_last_30_days"].fillna(df["subscribers_for_last_30_days"].mean())
df.dropna(subset = ["created_year"], inplace = True)
df["created_month"] = df["created_month"].fillna(df["created_month"].mode()[0])
df.dropna(subset = ["created_date"], inplace = True)
df["Gross tertiary education enrollment (%)"] = df["Gross tertiary education enrollment (%)"].fillna(df["Gross tertiary education enrollment (%)"].mean())
df["Population"] = df["Population"].fillna(df["Population"].median())
df["Unemployment rate"] = df["Unemployment rate"].fillna(df["Unemployment rate"].mean())
df["Urban_population"] = df["Urban_population"].fillna(df["Urban_population"].median())
df["Latitude"] = df["Latitude"].fillna(df["Latitude"].median())
df["Longitude"] = df["Longitude"].fillna(df["Longitude"].median())
print(df.isnull().sum())

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
Title                                      0
uploads                                    0
Country of origin                          0
Country                                    0
Abbreviation                               0
channel_type                               0
video_views_rank                           0
country_rank                               0
channel_type_rank                          0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
created_year                               0
created_month                              0
created_date                               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
Latitude                                   0
Longitude                                  0
dtype: int64

In [82]:
df.rename(columns = {"rank" : "Rank"}, inplace = True)
df.rename(columns = {"subscribers" : "Subscribers"}, inplace = True)
df.rename(columns = {"video views" : "Video Views"}, inplace = True)
df.rename(columns = {"category" : "Category"}, inplace = True)
df.rename(columns = {"uploads" : "Uploads"}, inplace = True)
df.rename(columns = {"Country of origin" : "Country of Origin"}, inplace = True)
df.rename(columns = {"channel_type" : "Channel_Type"}, inplace = True)
df.rename(columns = {"video_views_rank" : "Video_Views_Rank"}, inplace = True)
df.rename(columns = {"country_rank" : "Country_Rank"}, inplace = True)
df.rename(columns = {"channel_type_rank" : "Channel_Type_Rank"}, inplace = True)
df.rename(columns = {"video_views_for_the_last_30_days" : "Video_Views_for_the_last_30_Days"}, inplace = True)
df.rename(columns = {"lowest_monthly_earnings" : "Lowest_Monthly_Earnings"}, inplace = True)
df.rename(columns = {"highest_monthly_earnings" : "Highest_Monthly_Earnings"}, inplace = True)
df.rename(columns = {"lowest_yearly_earnings" : "Lowest_Yearly_Earnings"}, inplace = True)
df.rename(columns = {"highest_yearly_earnings" : "Highest_Yearly_Earnings"}, inplace = True)
df.rename(columns = {"subscribers_for_last_30_days" : "Subscribers_for_the_last_30_Days"}, inplace = True)
df.rename(columns = {"created_year" : "Created_Year"}, inplace = True)
df.rename(columns = {"created_month" : "Created_Month"}, inplace = True)
df.rename(columns = {"created_date" : "Created_Date"}, inplace = True)
df.rename(columns = {"Gross tertiary education enrollment (%)" : "Gross Tertiary Education Enrollment (%)"}, inplace = True)
df.rename(columns = {"Unemployment rate" : "Unemployment Rate"}, inplace = True)
df.rename(columns = {"Urban_population" : "Urban_Population"}, inplace = True)
print(df.shape)
print(df.columns)

(998, 29)
Index(['Rank', 'Youtuber', 'Subscribers', 'Video Views', 'Category', 'Title',
       'Uploads', 'Country of Origin', 'Country', 'Abbreviation',
       'Channel_Type', 'Video_Views_Rank', 'Country_Rank', 'Channel_Type_Rank',
       'Video_Views_for_the_last_30_Days', 'Lowest_Monthly_Earnings',
       'Highest_Monthly_Earnings', 'Lowest_Yearly_Earnings',
       'Highest_Yearly_Earnings', 'Subscribers_for_the_last_30_Days',
       'Created_Year', 'Created_Month', 'Created_Date',
       'Gross Tertiary Education Enrollment (%)', 'Population',
       'Unemployment Rate', 'Urban_Population', 'Latitude', 'Longitude'],
      dtype='object')

In [83]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 998 entries, 0 to 1005
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     998 non-null    int64
 1   Youtuber                                 998 non-null    object
 2   Subscribers                              998 non-null    float64
 3   Video Views                              998 non-null    float64
 4   Category                                 998 non-null    object
 5   Title                                    998 non-null    object
 6   Uploads                                  998 non-null    int64
 7   Country of Origin                        998 non-null    object
 8   Country                                  998 non-null    object
 9   Abbreviation                             998 non-null    object
 10  Channel_Type                             998 non-null    object
 11  Video_Views_Rank                         998 non-null    float64
 12  Country_Rank                             998 non-null    float64
 13  Channel_Type_Rank                        998 non-null    float64
 14  Video_Views_for_the_last_30_Days         998 non-null    float64
 15  Lowest_Monthly_Earnings                  998 non-null    float64
 16  Highest_Monthly_Earnings                 998 non-null    float64
 17  Lowest_Yearly_Earnings                   998 non-null    float64
 18  Highest_Yearly_Earnings                  998 non-null    float64
 19  Subscribers_for_the_last_30_Days         998 non-null    float64
 20  Created_Year                             998 non-null    float64
 21  Created_Month                            998 non-null    object
 22  Created_Date                             998 non-null    float64
 23  Gross Tertiary Education Enrollment (%)  998 non-null    float64
 24  Population                               998 non-null    float64
 25  Unemployment Rate                        998 non-null    float64
 26  Urban_Population                         998 non-null    float64
 27  Latitude                                 998 non-null    float64
 28  Longitude                                998 non-null    float64
dtypes: float64(19), int64(2), object(8)
memory usage: 233.9+ KB
None

In [85]:
df.iloc[0:10, 0:3]

   Rank                    Youtuber  Subscribers
0     1                    T-Series  245000000.0
1     2              YouTube Movies  170000000.0
2     3                     MrBeast  166000000.0
3     4  Cocomelon - Nursery Rhymes  162000000.0
4     5                   SET India  159000000.0
5     6                       Music  119000000.0
6     7         ýýý Kids Diana Show  112000000.0
7     8                   PewDiePie  111000000.0
8     9                 Like Nastya  106000000.0
9    10               Vlad and Niki   98900000.0

In [98]:
grouped_data_1 = df.groupby(["Category"])["Subscribers"].mean()
print(grouped_data_1)

Category
Autos & Vehicles         1.660000e+07
Comedy                   2.002571e+07
Education                2.712391e+07
Entertainment            2.252414e+07
Film & Animation         2.762727e+07
Gaming                   2.089677e+07
Howto & Style            1.935750e+07
Movies                   2.565000e+07
Music                    2.605347e+07
News & Politics          2.063077e+07
Nonprofits & Activism    2.775000e+07
People & Blogs           2.057846e+07
Pets & Animals           1.732000e+07
Science & Technology     1.861765e+07
Shows                    4.161538e+07
Sports                   3.285000e+07
Trailers                 3.900000e+07
Travel & Events          1.250000e+07
Name: Subscribers, dtype: float64

In [106]:
grouped_data_2 = df.groupby(["Category"])["Uploads"].mean()
print(grouped_data_2)

Category
Autos & Vehicles           1550.666667
Comedy                     1202.557143
Education                  3087.086957
Entertainment             10038.406897
Film & Animation           2899.340909
Gaming                     4243.892473
Howto & Style              1695.500000
Movies                     3553.000000
Music                      2337.460396
News & Politics          112484.384615
Nonprofits & Activism    102912.000000
People & Blogs             9328.000000
Pets & Animals             3562.800000
Science & Technology       2114.058824
Shows                     27443.692308
Sports                    19129.833333
Trailers                   6839.000000
Travel & Events             766.000000
Name: Uploads, dtype: float64